.header_type_two {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  top: 0;
  position: fixed;
  z-index: 100;
  width: calc(100% - 192px);
  height: 80px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 80px;
  padding: 0px 96px;
}

.header_logo_type_two {
  margin: 20px 0px 16px 0px;
}

.header_type_two_center_part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_type_two_center_part_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 54px;
}

.header_type_two_center_part_menu_text {
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: auto;
  opacity: 1;
  text-transform: none;
  text-decoration: none;
  margin: 0px;
  text-align: center;
}

.header_bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(272deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
  gap: 10px;
  width: 147px;
}

.header_bttn_text {
  color: #FFF;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.7px;
  opacity: 1;
  text-transform: none;
  text-decoration: none;
  margin: 0px;
}

.header_type_two_right_part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway-Regular.ttf) format("truetype"), url(../fonts/Raleway-Regular.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Italic.woff) format("woff"), url(../fonts/Raleway-Italic.ttf) format("truetype"), url(../fonts/Raleway-Italic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: normal;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.ttf) format("truetype"), url(../fonts/Raleway-Bold.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: bold;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-BoldItalic.woff) format("woff"), url(../fonts/Raleway-BoldItalic.ttf) format("truetype"), url(../fonts/Raleway-BoldItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: bold;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraBold.woff) format("woff"), url(../fonts/Raleway-ExtraBold.ttf) format("truetype"), url(../fonts/Raleway-ExtraBold.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 800;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraBoldItalic.woff) format("woff"), url(../fonts/Raleway-ExtraBoldItalic.ttf) format("truetype"), url(../fonts/Raleway-ExtraBoldItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 800;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraLight.woff) format("woff"), url(../fonts/Raleway-ExtraLight.ttf) format("truetype"), url(../fonts/Raleway-ExtraLight.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 200;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraLightItalic.woff) format("woff"), url(../fonts/Raleway-ExtraLightItalic.ttf) format("truetype"), url(../fonts/Raleway-ExtraLightItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 200;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Light.woff) format("woff"), url(../fonts/Raleway-Light.ttf) format("truetype"), url(../fonts/Raleway-Light.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 300;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-LightItalic.woff) format("woff"), url(../fonts/Raleway-LightItalic.ttf) format("truetype"), url(../fonts/Raleway-LightItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 300;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway-Medium.ttf) format("truetype"), url(../fonts/Raleway-Medium.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 500;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-MediumItalic.woff) format("woff"), url(../fonts/Raleway-MediumItalic.ttf) format("truetype"), url(../fonts/Raleway-MediumItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 500;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBold.woff) format("woff"), url(../fonts/Raleway-SemiBold.ttf) format("truetype"), url(../fonts/Raleway-SemiBold.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBoldItalic.woff) format("woff"), url(../fonts/Raleway-SemiBoldItalic.ttf) format("truetype"), url(../fonts/Raleway-SemiBoldItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 600;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Thin.woff) format("woff"), url(../fonts/Raleway-Thin.ttf) format("truetype"), url(../fonts/Raleway-Thin.eot) format("embedded-opentype");
  font-style: normal;
  font-weight: 100;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ThinItalic.woff) format("woff"), url(../fonts/Raleway-ThinItalic.ttf) format("truetype"), url(../fonts/Raleway-ThinItalic.eot) format("embedded-opentype");
  font-style: italic;
  font-weight: 100;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "lnum" 1;
}
@font-face {
  font-family: Unbounded;
  src: url(../fonts/Unbounded-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "lnum" 1;
}
body {
  margin: 0px;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main_section {
  width: 100%;
  overflow: hidden;
}

.main {
  height: 11289731928px;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.mosaic_top {
  position: absolute;
  top: -305px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mosaic_column {
  width: 100%;
}

.mosaic_top_yellow_block {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-color: #EBC233;
}

.mosaic_top_yellow_block_sp {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-image: url(../img/top_yellow_mosaic_pic.jpg);
  background-size: 130% 130%;
  background-position: 100% 0%;
}

.mosaic_top_black_block {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-color: transparent;
}

.mosaic_top_blue_block {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-color: #487BFF;
}

.mosaic_top_blue_block_sp {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background: url(../img/top_blue_mosaic_pic.png);
  background-size: 100% 100%;
  background-position: 100% 0%;
}

.title_page_course {
  margin: 248px 96px 0px;
}

.title_page_course_top {
  display: flex;
}

.title_page_corse_first {
  margin: 0px;
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Unbounded;
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: auto;
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;
}

.title_page_corse_second {
  margin: 16px 0px 0px;
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Unbounded;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.6px;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.bttn_buy_course {
  margin: 228px 0px 0px 91px;
  display: inline-flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(272deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
  width: 184px;
  height: 22px;
  flex-shrink: 0;
  text-decoration: none;
}

.bttn_buy_course_text {
  margin: 0px;
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.8px;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.title_page_course_bottom {
  position: relative;
}

.info_blocks {
  margin: 86px 0px 0px 0px;
}

.info_blocks_column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.info_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  gap: 12px;
  border-radius: 12px;
  background: #212121;
  margin: 0px 12px 12px 0px;
}

.info_block_text {
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: auto;
  opacity: 1;
  text-transform: none;
  text-decoration: none;
  margin: 0px;
}

.info_block_text_sp {
  color: #F8F8F8;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: auto;
  opacity: 1;
  text-transform: none;
  text-decoration: none;
  margin: 0px;
}

.info_blocks_text_red_circle {
  margin: 0px;
}

.mosaic_info_blocks {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mosaic_top_red_block {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-color: #DD2728;
}

.mosaic_top_red_block_sp {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  background-color: #DD2728;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}/*# sourceMappingURL=course_page.css.map */