@import "mixins_and_variables";

.header_type_one {
    @include flex(space-between, flex-start);
    padding: 0px 100px; 
    background: $main_background_color;
    max-width: 1080px;
    margin: 0px auto;
}

.header_type_one_logo_type_two {
    @include flex(flex-start, center);
    margin: 23px 0px 0px;
    text-decoration: none;
}

.header_type_one_logo_title_type_two {
    @include some_text(#FFF, Raleway, 16px, normal, 400, 120%, normal, 0.5, none, none);
    display: flex;
    width: 137px;
    height: 61px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0px 0px 0px 16.41px;
}

.header_type_one_contacts {
    @include flex(flex-end, flex-start);
    margin: 56px 0px 0px;
}

.header_type_one_contacts_coop {
    margin: 0px 40px 0px 0px
}

.header_type_one_contacts_coop_title {
    @include some_text(#FFF, Raleway, 16px, normal, 400, 120%, normal, 0.5, none, none);
    margin: 0px 0px 12px;
}

.header_type_one_contacts_coop_text{
    @include some_text(#FFF, Raleway, 16px, normal, 400, 120%, normal, 1, none, none);
    margin: 0px;
}

.header_type_one_contacts_support_title{
    @include some_text(#FFF, Raleway, 16px, normal, 400, 120%, normal, 0.5, none, none);
    margin: 0px 0px 12px;
}

.header_type_one_contacts_support_text{
    @include some_text(#FFF, Raleway, 16px, normal, 400, 120%, normal, 1, none, none);
    margin: 0px;
}