@import "mixins_and_variables";
@import "header_type_two";
@import "fonts";
@import "styles";

// .main_section {
//     max-width: 1280px;
//     margin: 0px auto;
// }

.main {
    height: 11289731928px;
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.mosaic_top {
    position: absolute;
    top: -305px;
    right: 0px;
    @include flex(flex-end, flex-start);
}

.mosaic_column {
    width: 100%;
}

.mosaic_top_yellow_block {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #EBC233;
}
.mosaic_top_yellow_block_sp {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-image: url(../img/top_yellow_mosaic_pic.jpg);
    background-size: 130% 130%;
    background-position: 100% 0%;
}
.mosaic_top_black_block {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: transparent;
    
}
.mosaic_top_blue_block {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #487BFF;
}
.mosaic_top_blue_block_sp {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background: url(../img/top_blue_mosaic_pic.png);
    background-size: 100% 100%;
    background-position: 100% 0%;
}


.title_page_course {
    margin: 248px 96px 0px;
}
.title_page_course_top {
    display: flex
}
.title_page_corse_first {
    margin: 0px;
    @include some_text(#F8F8F8, Unbounded, 72px, normal, 300, normal, auto, 0.5, uppercase, none);
}
.title_page_corse_second {
    margin: 16px 0px 0px;
    @include some_text(#F8F8F8, Unbounded, 72px, normal, 600, normal, 3.6px, 1, uppercase, none);
}
.bttn_buy_course {
    margin: 228px 0px 0px 91px;
    @include bttn_type_two(184px);
    text-decoration: none;
}
.bttn_buy_course_text {
    margin: 0px;
    @include some_text(#F8F8F8, Unbounded, 16px, normal, 500, 140%, 0.8px, 1, uppercase, none);
}


.title_page_course_bottom {
    position: relative;
}
.info_blocks {
    margin: 86px 0px 0px 0px;
}
.info_blocks_column {
    @include flex(flex-start, flex-start);
}
.info_block {
    @include flex(center, center);
    padding: 12px 18px;
    gap: 12px;
    border-radius: 12px;
    background: #212121;
    margin: 0px 12px 12px 0px

}
.info_block_text {
    @include some_text(#F8F8F8, Raleway, 16px, normal, 700, 140%, auto, 1, none, none);
    margin: 0px;
}
.info_block_text_sp {
    @include some_text(#F8F8F8, Raleway, 16px, normal, 500, 110%, auto, 1, none, none);
    margin: 0px;
}
.info_blocks_text_red_circle {
    margin: 0px;
}


.mosaic_info_blocks {
    position: absolute;
    top: 0px;
    right: 0px;
    @include flex(flex-end, flex-start);
}
.mosaic_top_red_block {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #DD2728;
}
.mosaic_top_red_block_sp { 
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    background-color: #DD2728;
    @include flex(flex-end, flex-start);
}