@import "mixins_and_variables";
@import "header_type_one";
@import "fonts";
@import "styles";

.main {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

.main_text_title {
    @include some_text(#F8F8F8, Unbounded, 40px, normal, 600, normal, 2px, 1, uppercase, none);
    margin: 74px 0px 40px 0px;
    text-align: center;
}

.main_catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    width: calc(100% - 200px);
    padding: 0px 100px;
    margin-bottom: 101px;
}

.catalog_block_first {
    @include catalog_block_type_one(img/me, cover, center, "32", "35");  
    @include flex(flex-end, flex-end);  
}

.catalog_block_second {
    @include catalog_block_type_one(img/me, cover, center, "32", "35");  
    @include flex(flex-end, flex-end);  
}

.catalog_block_third {
    @include catalog_block_type_one(img/me, cover, center, "32", "35");  
    @include flex(flex-end, flex-end);  
}


.catalog_block_first:hover {
    background-image: linear-gradient(333deg, rgb(0, 0, 0) 0%, transparent 100%), url(../img/me.PNG);
}

.catalog_block_second:hover {
    background-image: linear-gradient(333deg, rgb(0, 0, 0) 0%, transparent 100%), url(../img/me.PNG);
}

.catalog_block_third:hover {
    background-image: linear-gradient(333deg, rgb(0, 0, 0) 0%, transparent 100%), url(../img/me.PNG);
}


.catalog_block_first:hover .catalog_block_link{
    display: block;
}

.catalog_block_second:hover .catalog_block_link{
    display: block;
}

.catalog_block_third:hover .catalog_block_link{
    display: block;
}


.catalog_block_link{
    display: none;
    margin: 0px 20px 20px 0px;
}


.insta_block {
    @include flex(space-between, stretch);  
    position: relative;
    // overflow: hidden;
}


.text_insta_block {
    padding: 50px 79px 60px 100px;
}

.title_text_insta_block {
    @include some_text(#F8F8F8, Unbounded, 40px, normal, 600, normal, 2px, 1, uppercase, none);
    margin: 0px 0px 40px;
    width: 375px
}


.bttn_text_insta_block {
    @include flex(center, center);
    @include bttn_type_one(168px);
}

.text_bttn_text_insta_block {
    @include some_text(#FFF, Unbounded, 14px, normal, 400, 140%, 0.7px, 1, none, none);
    margin: 0px;
}



.trade_mark_all_rights_reserved {
    @include some_text(#FFF, Raleway, 16px, normal, 400, 160%, normal, 0.5, none, none);
    margin: 53px 0px 0px 0px;
}


.imges_insta_block {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}


.mosaic_column {
    width: 100%;
}

.mosaic_gray_block {
    @include mosaic(#252527, 146.108px, 146.108px);
}

.mosaic_black_block {
    @include mosaic(transparent, 146.108px, 146.108px);
}



.pen_imges_insta_block {
    position: absolute;
    top: -24.28px;
    left: 675px;
    width: 196px;
    height: 196px;
}

.first_insta_imges_insta_block {
    @include insta_img(16px, auto, auto, -124.21px, 39px, -9.85deg, 16.49382813vw, 211.121px);
}

.second_insta_imges_insta_block {
    @include insta_img(16px, 27.72px, 151.21px, auto, auto, 6.794deg, 16.49382813vw, 211.121px);
}

.third_insta_imges_insta_block {
    @include insta_img(16px, 36.2px, -80px, auto, auto, -14.19deg, 16.49382813vw, 211.121px);
}