@import "mixins_and_variables";

body {
    margin: 0px;
    background: $main_background_color;
    @include flex_jc_ai(center, stretch);
}

.side_empty_section {
    width: auto;
}

.main_section {
    width: 100%;
    overflow: hidden;
}